.pagin {
  padding: .8em 0; white-space: nowrap; user-select: none;
  & > .ib {
    margin: 0 8px;
  }
  .form-control {
    height: 26px; padding: 0 10px;
  }
  ul {
    margin-bottom: 0;
    li {
      height: 26px; line-height: 26px; padding: 0 .8em; display: inline-block; margin: 0 1px; cursor: pointer; border-radius: 4px;
      &.on {
        color: #fff; background-color: #09f;
      }
    }
  }
}