input::-webkit-input-placeholder {color: #9396af !important;}
input:-moz-placeholder {color: #9396af !important;}
input::-moz-placeholder {color: #9396af !important;}
input:-ms-input-placeholder {color: #9396af !important;}

/* @media (min-width: 650px) {
  *::-webkit-scrollbar {width: 7px; height: 7px;}
  *::-webkit-scrollbar-thumb {border-radius: 7px; background: #ccc;}
  *::-webkit-scrollbar-track {border-radius: 7px; background: transparent;}
  *::-webkit-input-placeholder {color: inherit !important; opacity: .5;}
} */

* {padding: 0; margin: 0; box-sizing: border-box; font: inherit;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}
html, body {height: 100%; font-size: 14px;}
body {background: #000; overflow: hidden;}
ul,
ul li {list-style: none;}
a:link,
a:hover,
a:visited,
a:active,
a {color: inherit; text-decoration: none;}

.fl {float: left; position: relative;}
.fr {float: right; position: relative;}
.c {text-align: center; position: relative;}
.ib {display: inline-block; position: relative;}
.oh {overflow: hidden;}
.inner {position: relative;}
.auto-scroll {width: 100%; height: 100%; position: absolute; left: 0; top: 0; overflow: auto;}
.space {padding: 12px;}

.ellipsis {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.line-2 {max-height: 3em; line-height: 1.5em; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.af:after {content: ""; display: block; clear: both;}

a.btn {position: relative; color: #fff;}
a.btn-default {position: relative; color: #333;}
.glyphicon {cursor: pointer; position: relative;}

.lmr {
  .fl {margin-right: 12px;}
  .fr {margin-left: 12px;}
  .m {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
  &:after {content: ""; display: block; clear: both;}
}

.flex {
  display: flex;
  & > * {flex: 1; position: relative;}
}

.flex-layout {
  height: 100%; display: flex; flex-direction: column;
  &.flex-row {flex-direction: row;}
  & > div {position: relative;}
  & > .auto-flex {flex: 1; overflow: auto;}
}

.table-form {
  white-space: nowrap;
  tr {
    td {
      padding: 3px;
    }
  }
}

.gray-title {
  font-size: 13px; line-height: 32px; padding: 0 12px; display: block;
  background: #eee;
  border-top: 1px solid #fff;
  box-shadow: 0 -1px 0 #ddd inset;
  .fr {
    .btn-box {position: relative; top: -2px;}
  }
}

.pagin {
  padding: .6em 0; white-space: nowrap; user-select: none; font-size: 12px;
  * {vertical-align: middle;}
  & > .ib {
    margin: 0 8px;
  }
  .form-control {
    height: 26px; padding: 0 10px;
  }
  ul {
    margin-bottom: 0;
    li {
      height: 26px; line-height: 26px; padding: 0 .9em; display: inline-block; margin: 0 1px; cursor: pointer; border-radius: 4px;
      &.on {
        color: #fff; background-color: #337ab7;
      }
    }
  }
}