* {padding: 0; margin: 0; font: inherit;}
html, body {}
body {font-size: 14px;}
a {color: inherit;}

.fl {float: left;}
.fr {float: right;}
.c {text-align: center;}

#box-algo {padding: 20px; text-align: center;}
#box-algo > .list {display: inline-block;}
#box-algo > .list section {margin-bottom: 20px;}
#box-algo > .list section .box-btn {margin-bottom: 15px;}
#box-algo > .list section .box-canvas {}
#box-algo > .list section .box-canvas canvas {border: 1px solid #ccc;}